.box_bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(78, 78, 78, 0.301);

}

.progress {
  color: coral!important;
}